<% @instructors.each do |instructor| %>
  <h1><%= link_to instructor.name, instructor %></h1>
  <p><%= instructor.email %></p>
  <p><%= instructor.bio %></p>
<% end %>
<%= link_to 'Registrar um professor', new_instructor_path %>